# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.zip
evenolder/3ciclo/1.png
evenolder/3ciclo/2.png
evenolder/3ciclo/3.png
evenolder/3ciclo/4.png
evenolder/3ciclo/reuniaopais_outubro.png
evenolder/phoenix_sphere.png
evenolder/morcego_sphere.psd
evenolder/textPhoenix.png
evenolder/bg.png
evenolder/default.php
evenolder/textTropaEscoteira.png
evenolder/textMorcego.png
evenolder/textCiclo.png
evenolder/textCastor.png
evenolder/textAtualizacao.png
*.png
*.psd
evenolder/3ciclo/Menasalidades TE até 16-08-2014.pdf
evenolder/pontuacao.php
*.html
evenolder/teste.php
*.htm

init.php
desfazerPontuacao.php